.col {
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
}

.point {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  border: 1px solid #222222;
  background-color: snow;
}

.point--exploded {
  background-color: darkred;
}

.point--hidden {
  font-weight: normal;
  cursor: pointer;
}

.point--hidden:hover {
  background-color: aqua;
}

.point--safe {
  color: green;
}

.point--warning {
  color: brown;
}
