.App {
  font-family: sans-serif;
  text-align: center;
  color: #222222;
}

.container {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.button--reset {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 5px 5px 0;
  background-color: gold;
  font-size: 14px;
}

.pt-4 {
  padding-top: 20px;
}
